# vim: ft=gitconfig
[core]
	editor = vim
	quotepath = false
	symlinks = true
	autocrlf = false
	ignorecase = false
	safecrlf = true
	whitespace = cr-at-eol
[color]
	ui = auto
[rebase]
	autosquash = true
	autostash = true
[push]
	default = current
	followTags = true
[pull]
	rebase = true
	ff = only
[merge]
	ff = false
	conflictStyle = diff3
[credential]
	helper = manager
[diff]
	altorithm = histogram
	compactionHeuristic = true
	tool = vimdiff
	colorMoved = dimmed-zebra
[commit]
	verbose = true
	gpgsign = true
[rerere]
	enabled = true
[http]
	postBuffer = 524288000
[alias]
	co = checkout
[grep]
	lineNumber = true
	patternType = extended
[help]
	autocorrect = 1
[ghq]
	root = ~/go/src
[hub]
	protocol = ssh
[gpg]
	program = gpg
[user]
	signingkey = 914842721B38D36E4C36C2D6B592055EDF2B6111
[init]
	defaultBranch = master
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
