[submodule ".mutt/color"]
	path = .mutt/color
	url = https://github.com/altercation/mutt-colors-solarized
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
