# vim: ft=gitconfig
[core]
	editor = vim
	quotepath = false
	symlinks = true
	autocrlf = false
	ignorecase = false
	safecrlf = true
	whitespace = cr-at-eol
	pager = delta
[color]
	ui = auto
[rebase]
	autosquash = true
	autostash = true
[push]
	default = current
	followTags = true
[ghq]
	root = ~/go/src
[pull]
	ff = only
[merge]
	ff = false
[credential]
	helper = manager
[diff]
	altorithm = histogram
	compactionHeuristic = true
	tool = vimdiff
[commit]
	verbose = true
[rerere]
	enabled = true
[http]
	postBuffer = 524288000
[alias]
	co = checkout
[grep]
	lineNumber = true
	patternType = extended
[help]
	autocorrect = 1
[interactive]
	diffFilter = delta --color-only
[delta]
	plus-color = "#012800"
	minus-color = "#340001"
	theme = base16
	features = unobtrusive-line-numbers decorations
[delta "unobtrusive-line-numbers"]
	line-numbers = true
	line-numbers-minus-style = "#444444"
	line-numbers-zero-style = "#444444"
	line-numbers-plus-style = "#444444"
	line-numbers-left-format = "{nm:>4}┊"
	line-numbers-right-format = "{np:>4}│"
	line-numbers-left-style = blue
	line-numbers-right-style = blue
[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none
	hunk-header-decoration-style = yellow box
