[user]
  useConfigOnly = true
[core]
  editor = vim
  quotepath = false
  symlinks = true
  autocrlf = false
  excludesfile = ~/.gitignore_global
  preloadindex = true
  fscache = true
	pager = LESSCHARSET=utf-8 less
[color]
  ui = auto
  diff = always
  status = always
  branch = always
  interactive = always
[pack]
  packSizeLimit = 2g
[help]
  format = html
[rebase]
  autosquash = true
[alias]
  pr = !hub browse -- compare/$(git symbolic-ref --short HEAD)'?'expand=1'&'body=%23%23%20%E7%9B%AE%E7%9A%84%0A%0A%23%23%20%E5%A4%89%E6%9B%B4%E5%86%85%E5%AE%B9
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[pretty]
  medium-reverse = format:%C(red reverse)%d%Creset%C(white reverse) %h% Creset %C(green reverse) %an %Creset %C(cyan)%ar%Creset%n%C(white bold)%w(80)%s%Creset%n%n%w(80,2,2)%b
[push]
	default = current
[ghq]
  root = ~/go/src
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[winUpdater]
	recentlySeenVersion = 2.15.0.windows.1
[pull]
	ff = only
[merge]
	ff = false
