!! ~/.Xresources

!!
!! rxvt-unicode (urxvt)
!!
! settings
URxvt.scrollBar_right: false
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.pointerBlank: true
URxvt.visualBell: false
URxvt.saveLines: 30000
URxvt.scrollStyle: rxvt
URxvt.scrollBar: false
URxvt*iso14755: false
URxvt.font: xft:Sarasa Fixed J:size=12:antialias=false, \
            xft:Noto Color Emoji:size=12:antialias=false
! Plugin
URxvt.perl-ext-common: default,resize-font,clipboard
URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:
URxvt.keysym.Shift-Control-c: perl:clipboard:copy
URxvt.keysym.Shift-Control-v: perl:clipboard:paste
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.url-select.launcher: vivaldi
URxvt.url-select.underline: true
URxvt.keysym.C-Down: resize-font:smaller
URxvt.keysym.C-Up: resize-font:bigger

! color
ssh-askpass*background: #000000
URxvt.depth: 32

urxvt.boldFont:
Xft*dpi: 96
Xft*antialias: true
Xft*hinting: true
Xft*hintstyle: hintfull
Xft*rgba: rgb
URxvt*geometry: 85x20
! *internalBorder: 25
URxvt*fading: 0
URxvt*tintColor: #ffffff
URxvt*shading: 0
URxvt*inheritPixmap: False
URxvt.color0: [100]#282828
URxvt.color1: [100]#cc241d
URxvt.color2: [100]#98971a
URxvt.color3: [100]#d79921
URxvt.color4: [100]#458588
URxvt.color5: [100]#b16286
URxvt.color6: [100]#689d6a
URxvt.color7: [100]#a89984
URxvt.color8: [100]#928374
URxvt.color9: [100]#fb4934
URxvt.color10: [100]#b8bb26
URxvt.color11: [100]#fabd2f
URxvt.color12: [100]#83a598
URxvt.color13: [100]#d3869b
URxvt.color14: [100]#8ec07c
URxvt.color15: [100]#ebdbb2
URxvt.colorIT: [100]#8ec07c
URxvt.colorBD: [100]#fe8019
URxvt.colorUL: [100]#83a598
URxvt.foreground: [100]#ebdbb2
URxvt.background: [100]#262626
URxvt.scrollColor: [100]#504945
URxvt.troughColor: [100]#3C3836
